/* STYLES FROM PROTOTYPE */
#left-panel {
	background-color: #b7d4e2; /* light-blue */
}
.open aside.left-panel {
    max-width: 85px;
    width: 85px;
}
.navbar .navbar-brand img {
	max-width: 190px;
}
nav.navbar,
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	background-color: #b7d4e2;
}
.navbar .navbar-nav li > a {
	padding: 10px 0 0 0;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	padding: 0 0 0 56px;
}
.navbar .navbar-nav li.menu-item-has-children a:before {
	color: #00274e !important; /* Lanterman text blue */
}
nav.navbar,
.navbar .menu-title,
.navbar .navbar-nav li > a,
.navbar .navbar-nav li > a .menu-icon,
#main-menu .navbar-nav li > a .menu-icon,
.navbar .navbar-nav li.menu-item-has-children .sub-menu i,
/* hovers */
.navbar .navbar-nav li > a:hover,
.navbar .navbar-nav li > a:hover .menu-icon,
#main-menu .navbar-nav li > a:hover .menu-icon {
	color: #00274e !important;
}
/* ?!?
	{
	color: #999 !important;
	}
*/

.menutoggle {
	background-color: #fdc54e; /* Lanterman yellow */
	color: #000 !important;
	font-size: 1.9em !important;
}
.open .menutoggle i:before {
	content: "\f138" !important;
}

#home a.home { font-weight: bold; }
#client a.client { font-weight: bold; }
#formlist a.formlist { font-weight: bold; }
#reports a.reports { font-weight: bold; }
#search a.search { font-weight: bold; }
#todo a.todo { font-weight: bold; }

#header .count {
	background-color: #fdc54e !important;
	color: #000 !important;
}

a:hover.bg-flat-color-1,
a:hover.bg-flat-color-2 {
	background-color: #fdc54e !important;
}

/* CONTENT body styles
h1 {
	text-transform: uppercase;
}
.navbar .navbar-nav li .fa-square:before {
	content: none !important;
}
#formlist .help-block {
	font-size: 14px;
}
*/

/* NEW [FEB25 et al] STYLES */
header {
	padding: .5em;
}

header .head-top,
header .head-bottom {
	
}

header .head-top {
	margin-bottom: .5em;
}

header .head-top .logo {
	width: 333px;
	height: auto; /* 48 */
}

header .head-top .powered-by {
	float: right;
	display: block;
	width: 202px;
	height: auto; /* 25 */
}

header .head-bottom {
	color: #006FC0;
	font-weight: bold;
	padding: .25em;
}

header .head-bottom .account-user {
	margin-left: 4em;
}

header .head-bottom .page-title {
	float: right;
	color: #660033;
	font-weight: bold;
}

header .form-inline {
	background-color: transparent !important;
	height: inherit !important;
}

.form-inline .form-control {
	width: 100% !important;
}

.topnav-controls {
	position: relative;
	background-color: #b7d4e2; 
	width: 100%;
	height: 3em;
}

.SHL-RAM {
	position: absolute;
    top: 7px;
    right: 56px;
	color: #00f;
	font-size: 13px;
}

.SHL-RAM ul {
	list-style: none;
}
.SHL-RAM li {
	display: inline-block;
	padding: 0 .5em;
	/*border-right: 1px solid #000;*/
}

.SHL-RAM li a {
	color: #00274e;
	font-weight: bold;
	text-decoration: none !important;
}

.SHL-RAM li:last-child {
	border-right: none;
}

.content {
	padding: 0 !important;
}

.mt-3 {
	margin-top: 0 !important;
}

.content-topnav ul {
	list-style: none;
}
.content-topnav li {
	display: inline-block;
	padding: 0 .5em;
}
.content-topnav li a {
	color: #00274e;
	font-weight: bold;
	text-decoration: none !important;
}

.card .card-body h4 {
	margin-bottom: .5em;
}

.card .card-body .form-control-label {
	font-weight: bold;
}

.client-profile-def .content-topnav li a {
	font-size: .8em;
}

.form-group .form-control-label {
	/*text-transform: capitalize;*/
}

a.dropdown-toggle.client {
	font-weight: bold;
}

button.search-close {
	position: absolute;
    top: 1px;
    right: 1px;
}

.client-list table.table tbody th {
	font-weight: normal;
}

.bg-kea-ltblue {
	background-color: #b7d4e2 !important;
}

/* PREV STYLES from WebMain.aspx? */
#bg {
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

#OnCallTrxDiv {
	display: block;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}


/* Responsive Styles */
@media (max-width: 1368px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 992px) {
	
}

@media (max-width: 575.99px) {
	ul.nav.navbar-nav {
		background-color: #fff;
	}
	aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
		right: 20px;
	}
}

/* DUMMY STYLES */
/*#OnCallTrxDiv
#insert-view-content-here {
	outline: 2px dotted blue;
}*/

.outline-purple {
	outline: 2px dotted purple;
}
.outline-red {
	outline: 2px dotted red;
}
.outline-orange {
	outline: 2px dotted orange;
}



/*
div {
	outline: 2px dotted green !important;
}

@media (max-width: 1368px) { div { outline: 2px dotted blue; } }
@media (max-width: 1024px) { div { outline: 2px dotted green; } }
@media (max-width: 992px) { div { outline: 2px dotted orange; } }
@media (max-width: 575.99px) { div { outline: 2px dotted red; } }
 */

/* ::::: PREVIOUS STYLES ::::: */

/*
iframe {
    height: 100%;
    height: calc(90vh); 
   // height: -moz-calc(100vh -10px);
   // height: -webkit-calc(100vh -10px);
    border: none;

    width: 100%;
    width: calc(100vw -10px);
   // width: -moz-calc(100vw - 10px);
   // width: -webkit-calc(100vw -10px);
} 
*/
