/* STYLES FROM PROTOTYPE */
#left-panel {
	background-color: #b7d4e2; /* light-blue */
}
.open aside.left-panel {
    max-width: 85px;
    width: 85px;
}
.navbar .navbar-brand img {
	max-width: 190px;
}
nav.navbar,
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	background-color: #b7d4e2;
}
.navbar .navbar-nav li > a {
	padding: 10px 0 0 0;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	padding: 0 0 0 56px;
}
.navbar .navbar-nav li.menu-item-has-children a:before {
	color: #00274e !important; /* Lanterman text blue */
}

nav.navbar,
.navbar .menu-title,
.navbar .navbar-nav li > a,
.navbar .navbar-nav li > a .menu-icon,
#main-menu .navbar-nav li > a .menu-icon,
.navbar .navbar-nav li.menu-item-has-children .sub-menu i,
/* hovers */
.navbar .navbar-nav li > a:hover,
.navbar .navbar-nav li > a:hover .menu-icon,
#main-menu .navbar-nav li > a:hover .menu-icon {
	color: #00274e !important;
}

.menutoggle {
	background-color: #fdc54e; /* Lanterman yellow */
	color: #000 !important;
	font-size: 1.9em !important;
}
.open .menutoggle i:before {
	content: "\f138" !important;
}

li.menu-item-no-children > a,
li.menu-item-has-children > a {
	font-weight: bold;
}

#header .count {
	background-color: #fdc54e !important;
	color: #000 !important;
}

a:hover.bg-flat-color-1,
a:hover.bg-flat-color-2 {
	background-color: #fdc54e !important;
}

/* NEW [FEB25 et al] STYLES */
header {
	padding: .5em;
}

header .head-top,
header .head-bottom {
	
}

header .head-top {
	margin-bottom: .5em;
}

header .head-top .logo {
	width: 333px;
	height: auto; /* 48 */
}

header .head-top .powered-by {
	float: right;
	display: block;
	width: 202px;
	height: auto; /* 25 */
}

header .head-bottom {
	color: #006FC0;
	font-weight: bold;
	padding: .25em;
}

header .head-bottom .account-user {
	margin-left: 4em;
}

header .head-bottom .page-title {
	float: right;
	color: #660033;
	font-weight: bold;
}

header .form-inline {
	background-color: transparent !important;
	height: inherit !important;
}

/* hide mobile profile/messaging butts */
aside .mobile-profile-notifs {
	display: none;
}

.form-inline .form-control {
	width: 100% !important;
}

.topnav-controls {
	position: relative;
	background-color: #b7d4e2; 
	width: 100%;
	height: 3em;
}

.SHL-RAM {
	position: absolute;
    top: 7px;
    right: 56px;
	color: #00f;
	font-size: 13px;
}

.SHL-RAM ul {
	list-style: none;
}
.SHL-RAM li {
	display: inline-block;
	padding: 0 .5em;
	/*border-right: 1px solid #000;*/
}

.SHL-RAM li a {
	color: #00274e;
	font-weight: bold;
	text-decoration: none !important;
}

.SHL-RAM li:last-child {
	border-right: none;
}

.content {
	padding: 0 !important;
}

.mt-3 {
	margin-top: 0 !important;
}

.content-topnav ul {
	list-style: none;
}
.content-topnav li {
	display: inline-block;
	padding: 0 .5em;
}
.content-topnav li a {
	color: #00274e;
	font-weight: bold;
	text-decoration: none !important;
}

.card .card-body h4 {
	margin-bottom: 1em;
}

.card .card-body .form-control-label {
	font-weight: bold;
}

.card .section-title .icons i {
	font-size: 1.5em;
	margin-left: .5em;
}

.card-header-icons {
	font-size: 1.5em;
	text-align: right;
}

.card-header-icons a {
	display: inline-block;
	margin-left: .5em;
}

.breadcrumbs .card-header-icons a {
	margin-top: .25em;
}

a.dropdown-toggle.client {
	font-weight: bold;
}

button.search-close {
	position: absolute;
    top: 1px;
    right: 1px;
}

.add-button-content {
	display: none;
}

a .fa {
	font-size: 1.5em;
}

.fa-square.pink { color: pink; }
.fa-square.yellow { color: yellow; }
.fa-square.red { color: red; }
.fa-circle.red { color: red; }
.fa-circle.green { color: green; }
.fa-circle.blue { color: blue; }
.fa-circle.purple { color: purple; }

.bg-kea-ltblue {
	background-color: #b7d4e2 !important;
}

.client-default .tight-select-row .col-md-2 {
	padding-right: 0 !important;
} 

.client-default .tight-select-row .col-md-3 .form-control-label {
	font-size: .75em;
}

.client-default .dataTables_wrapper .row:first-child,
.client-default .dataTables_wrapper .row:last-child,
.validate-default .dataTables_wrapper .row:first-child,
.validate-default .dataTables_wrapper .row:last-child {
	display: none;
} 

.client-default table.table-bordered.dataTable th,
.client-default table.table-bordered.dataTable td {
	line-height: 1.15em;
	text-align: center;
} 

/*.client-default table.table-bordered.dataTable .address {
	width: 20em !important;
} */

.client-default .legend ul {
	list-style: none;
	padding: 0 1em;
}
.client-default .legend li {
	display: inline-block;
	font-size: .75em;
	padding: 0 .5em;
}

.client-list table.table tbody th {
	font-weight: normal;
}

.validate-default .form-check-inline input {
	margin-left: .5em;
}

.validate-default table.table-bordered.dataTable th,
.validate-default table.table-bordered.dataTable td {
	 font-size: .8em;
	 padding-right: .5em !important;
	 /* global? */
} 

.content-topnav li a {
	font-size: .8em;
}

.content-topnav.secondary {
	background-color: #fff;
	padding-top: .5em;
}

.tickler-client-results {
	margin-top: 1em;
}

.tickler-client-results h3 {
	margin: 0 auto;
}

.tickler-client-results ul {
	list-style: none;
	margin: 0 auto;
}
.tickler-client-results li {
	display: inline-block;
	/*padding: 0 .5em;*/
}
.tickler-client-results li a {
/*	color: #00274e;
	font-weight: bold;
	text-decoration: none !important;*/
}
.profile-pos .card button {
	margin-left: .25em;
}
.medical-info .checkbox-group {
	margin-left: .5em;
}

.pos-list button {
	margin-bottom: 1em;
}

.pos-list .float-right {
	text-align: right;
}

.pos-list table th {
	text-align: center;
}

.doclist-info .form-check-label {
	margin-left: 1em;
}

/* PREV STYLES from WebMain.aspx? */
#bg {
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

#OnCallTrxDiv {
	display: block;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}


/* Responsive Styles */
@media (max-width: 1368px) {
/*	div {
		outline: 2px dotted blue;
	}*/
}

@media (max-width: 1024px) {
/*	div {
		outline: 2px dotted green;
	}*/

}

@media (max-width: 992px) {
/*	div {
		outline: 2px dotted orange;
	}*/

}

@media (max-width: 575.99px) {
	div {
		outline: 2px dotted red;
	}
	.col {
		outline: 2px SOLID green !important;
	}

	ul.nav.navbar-nav {
		background-color: #fff;
	}

	aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
		right: 20px;
	}

	aside .mobile-profile-notifs {
		background-color: #fff;
	}

	aside .mobile-profile-notifs .form-group {
		margin-bottom: 0;
	}

	aside .mobile-profile-notifs button {
		background-color: #fff;
		color: #000;
	}

	aside .user-area .user-avatar {
		margin-right: .5em;
	}

	aside img.logo {
		width: 62%;
		height: auto;
	}

	header .user-profile,
	header .message-notifs {
		display: none;
	}

	header .form-inline {
		top: 56px;
	}

	.SHL-RAM {
		position: static;
		text-align: center;
	}

	.nav-link, /* repercussions? RBB */
	.SHL-RAM .nav-link { 
		padding: 0 !important;
	}

	.SHL-RAM li {
		margin-top: .5em;
		padding: .5em !important;
	}

}

/* DUMMY STYLES */
/*#OnCallTrxDiv
#insert-view-content-here {
	outline: 2px dotted blue;
}*/

.outline-purple {
	outline: 2px dotted purple;
}
.outline-red {
	outline: 2px dotted red;
}
.outline-orange {
	outline: 2px dotted orange;
}



/*
div {
	outline: 2px dotted green !important;
}

@media (max-width: 1368px) { div { outline: 2px dotted blue; } }
@media (max-width: 1024px) { div { outline: 2px dotted green; } }
@media (max-width: 992px) { div { outline: 2px dotted orange; } }
@media (max-width: 575.99px) { div { outline: 2px dotted red; } }
 */

/* ::::: PREVIOUS STYLES ::::: */

/*
iframe {
    height: 100%;
    height: calc(90vh); 
   // height: -moz-calc(100vh -10px);
   // height: -webkit-calc(100vh -10px);
    border: none;

    width: 100%;
    width: calc(100vw -10px);
   // width: -moz-calc(100vw - 10px);
   // width: -webkit-calc(100vw -10px);
} 
*/
