BODY {
	SCROLLBAR-FACE-COLOR: #79ABCE; 
	FONT-SIZE: 9pt; 
	SCROLLBAR-SHADOW-COLOR: #595959; 
	COLOR: #666666; 
	SCROLLBAR-3DLIGHT-COLOR: #595959; 
	SCROLLBAR-ARROW-COLOR: #ffffff; 
	FONT-FAMILY: seoul, arial, helvetica; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
	SCROLLBAR-BASE-COLOR: #cfcfcf;
	margin:0px; 
}

SELECT {
	SCROLLBAR-FACE-COLOR: #79ABCE; 
	FONT-SIZE: 9pt; 
	SCROLLBAR-SHADOW-COLOR: #000000; 
	COLOR: #666666; 
	SCROLLBAR-3DLIGHT-COLOR: #C2DCA0; 
	SCROLLBAR-ARROW-COLOR: #ffffff; 
	FONT-FAMILY: arial, seoul, arial, helvetica; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
	SCROLLBAR-BASE-COLOR: #cfcfcf;
	BACKGROUND-COLOR: #F5F9F2;
	width: 100px
}

iframe {
    height: 100%;
    height: calc(90vh); 
   // height: -moz-calc(100vh -10px);
   // height: -webkit-calc(100vh -10px);
    border: none;

    width: 100%;
    width: calc(100vw -10px);
   // width: -moz-calc(100vw - 10px);
   // width: -webkit-calc(100vw -10px);
}

table {
	font-size: 9pt;
	color: #114422;
	text-decoration: none;
	border-collapse: collapse;
}

a:link {
	font-size: 9pt;
	text-decoration: none;
	color: #114422;

}
a:visited {
	font-size: 9pt;
	color: #114422;
	text-decoration: none;
}
a:hover {
	font-size: 9pt;
	color: #FF0000;
	text-decoration: none;
}
a:active {
	font-size: 9pt;
	color: #FF0000;
	text-decoration: none;
}

.buttonbluestyle
{
	background-color: #8080FF;
	height: 25px;
	font-weight: bold;
	color: white;
	font-style: italic;
	border-top-style: outset;
	border-right-style: outset;
	border-left-style: outset;
	border-bottom-style: outset;
}

.disablebuttonbluestyle
{
	background-color: gray;
	height: 25px;
	font-weight: bold;
	color: white;
	font-style: italic;
	border-top-style: outset;
	border-right-style: outset;
	border-left-style: outset;
	border-bottom-style: outset;
}

.buttongraystyle
{
    background-color: #DBDBDB;
    height: 25px;
    font-weight: bold;
    color: #5B5B5B;
    font-style: italic;
    border-top-style: outset;
    border-right-style: outset;
    border-left-style: outset;
    border-bottom-style: outset;
}

.ctrl_body
{
    border-style: none;
    border-collapse: collapse;
    margin: 0px;
    vertical-align: middle;
    width: 92%;
    cursor: auto;
    color: #000000;
}

.ctrl_item
{
    border-style: none;
    border-collapse: collapse;
	FONT-SIZE: 9pt;
	COLOR: #000000;
	text-align:center; 
	vertical-align:middle; 
	FONT-FAMILY: arial;
    height: 20px;
}

.ctrl_alitem
{
    border-style: none;
    border-collapse: collapse;
    font-size: 9pt;
    background-color: #E9E9E9;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    font-family: arial;
    height: 20px;
}

.ctrl_head
{
    font-size: 10pt;
    color: #000000;
    text-align: left;
    border-style: none;
    vertical-align: middle;
    font-family: arial;
    height: 22px;
    font-weight: bold;
    white-space: nowrap;
    background-color: #EAF4FF;
}

.ctrl_fsitem
{
    font-size: 9pt;
    background-color: #8AB0FF;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    font-family: arial;
    height: 20px;
}

.grd_bodyborder
{
    border-width: 2px;
    border-style: solid;
    background-color: White;
    border-color: #5370C4;
    margin: 0px;
    vertical-align: middle;
    width: 98%;
    cursor: auto;
}

.grd_itemborder
{
    border: 2px solid #5370C4;
    font-size: 9pt;
    text-align: center;
    vertical-align: middle;
    font-family: arial;
    height: 26px;
    white-space: nowrap;
}

.grd_alitemborder
{
    border: 2px solid #5370C4;
    font-size: 9pt;
    text-align: center;
    vertical-align: middle;
    font-family: arial;
    height: 26px;
    white-space: nowrap;
    background-color: #E9E9E9;
}

.grd_bodynoborder
{
    border: 0px none;
    background-color: White;
    margin: 0px;
    vertical-align: middle;
    width: 98%;
    cursor: auto;
}

.grd_itemnoborder
{
    border: 0px;
    font-size: 9pt;
    text-align: center;
    vertical-align: middle;
    font-family: arial;
    height: 26px;
    white-space: nowrap;
}

.grd_alitemnoborder
{
    border: 0px;
    font-size: 9pt;
    text-align: center;
    vertical-align: middle;
    font-family: arial;
    height: 26px;
    white-space: nowrap;
    background-color: #E9E9E9;
}

.grd_body
{
	background-color:White;
	border-bottom-width:1px;
	border-bottom-color:#5370C4;
	border-left-width:1px;
	border-left-color:#5370C4;
	border-right-width:1px;
	border-right-color:#5370C4;
	border-top-width:0px;
	border-top-color:#5370C4;
	margin:0px;
	vertical-align:middle;
	width:98%;
	border-collapse:collapse;
	cursor:auto;
	color:#000000;
}

.grd_head
{	
	FONT-SIZE: 10pt;
	COLOR: #000000;
	text-align:center; 
	border-style:none; 
	vertical-align:middle;
	FONT-FAMILY: arial;
	height:26px;
	font-weight:bold;
	white-space:nowrap;
    background-image:url("../img/table_head.gif");
	POSITION: relative;
	top:expression(this.offsetParent.scrollTop);
	 
}

.grd_head_fix
{
	FONT-SIZE: 10pt;
	COLOR: #000000;
	text-align:center; 
	border-style:none;
	vertical-align:middle;
	FONT-FAMILY: arial;
	height:26px;
	font-weight:bold;
	white-space:nowrap;
    background-image:url("../img/table_head.gif");
}

.grd_item
{
	FONT-SIZE: 9pt;
	COLOR: #000000;
	text-align:center; 
	vertical-align:middle; 
	FONT-FAMILY: arial;
	height:26px;
}

.grd_alitem
{
    font-size: 9pt;
    background-color: #E9E9E9;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    font-family: arial;
    height: 26px;
}

.grd_fsitem
{
    font-size: 9pt;
    background-color: #8AB0FF;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    font-family: arial;
    height: 26px;
}

.grd_paitem
{
	FONT-SIZE: 9pt;
	background-color:#F4F7DE;
	COLOR: #000000;
	text-align:right; 
	vertical-align:middle;
	FONT-FAMILY: arial;
	height:26px;
}

.tab_bar
{
    height:25px;
    background-color: #CCDADD;
    vertical-align: top;
}

.tab_barsub
{
    height: 20px;
    background-color: #BBE9FF;
    vertical-align: top;
    font-style: italic;
    font-size: 9px;
}

.tab_sel
{
    padding: 5px;
    font-size: 10pt;
    text-align: center;
    vertical-align: bottom;
    color: #000000;
}

.tab_sel:hover
{ 
    cursor:pointer;
    background-color : #90EE90;
	color: #FF0000;
}

.tab_selsub
{
    padding: 1px;
    font-size: 9pt;
    text-align: center;
    vertical-align: bottom;
    color: #000000;
}

.tab_selsub:hover
{ 
    cursor:pointer;
    background-color : #90EE90;
	color: #FF0000;
}

.table_common
{
    border-width: 0px;
    border-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    align: center;
    border-collapse: collapse;
}

.table_menu
{
    border-style: none solid none none;
    border-width: thin;
    border-color: #137AC5;
    vertical-align: middle;
    color: #000000;
}

.table_maindiv
{
    border-width: 0px;
    border-style: none;
    padding: 0px;
    margin: 0px;
    width: 97%;
    text-align: center;
    border-collapse: collapse;
}

.table_inside
{
    border-width: 0px;
    border-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    align: left;
    border-collapse: collapse;
}

.table_withborder
{
    border-width: 1px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    width: 100%;
    cellspacing: 0px;
    cellpadding: 0px;
    align: left;
}

.tr_common
{
	FONT-SIZE: 12pt;
	COLOR: #000000;
	FONT-FAMILY: arial;
	height: 20px;
	text-align: left;
}

.ann_line
{
    border-bottom: 3px solid purple ;
}

.tr_head
{	
    background-color :#EAF4FF; 
}

.td_unline
{
    font-size: 12pt;
    color: #000000;
    text-decoration: none;
	text-align: left;
}

.td_label
{
    border: 0px;
    background-color: #CEE3F6;
    font-family: arial;
    font-size: 12px;
    text-align: left;
}

.td_label_right
{
    border: 0px;
    background-color: #CEE3F6;
    font-family: arial;
    font-size: 12px;
    text-align: right;
}

.td_expendmark
{
    width: 24px; 
    cursor:pointer; 
    font-size:medium;
    background-color:#EAF4FF;
	color: #000000;
	text-decoration: none;
}

.td_thicksepline
{
    height: 3px;
    background-color: #cc99cc;
}

.td_thinsepline
{
    height: 2px;
    background-color: #cc99cc;
}

.infaceDrop
{
    font-size: 12px;    
    height:23px; 
    width: 92%; 

}

.infaceDropRead
{
    border: 0px;
    background-color: #FFFFFF;
    font-family: arial;
    font-size: 13px;
    padding-top: 3px;
    height: 23px;
    width: 92%;
    vertical-align: middle;
    font-weight: bold;
}

.inface
{
    font-size: 12px;
    height: 18px; 
    width: 90%;
}

.infaceText
{
    border: 0px;
    background-color: #EFEFEF;
    font-family: arial;
    font-size: 12px;
    padding-top: 3px;
    height: 18px;
    width: 90%;
}

.infaceTextNoPad
{
    border: 0px;
    background-color: #E6E6E6;
    font-family: arial;
    font-size: 12px;
    height: 18px;
    width: 90%;
}

.ListBoxNoBorder
{
    border-style:none;
    border-width:0px;
    border: none;
    font-size:10pt;
    font-family:Comic Sans MS;
    background-color: #CEE3F6;
}

/* calendar css*/
.header {font: 12px Arial, Tahoma !important;font-weight: bold !important;font: 11px Arial, Tahoma;font-weight: bold;color: #154BA0;background:#C2DEED;height: 25px;padding-left: 10px;
}
.header td {padding-left: 10px;}
.header a {color: #154BA0;}
.header input {background:none;vertical-align: middle;height: 16px;}
.category {font: 12px Arial, Tahoma !important;font: 11px Arial, Tahoma;color: #92A05A;height:20px;background-color: #FFFFD9;}
.category td {border-bottom: 1px solid #DEDEB8;}
.expire, .expire a:link, .expire a:visited {color: #000000;}
.default, .default a:link, .default a:visited {color: #000000;}
.checked, .checked a:link, .checked a:visited {color: #FF0000;}
.today, .today a:link, .today a:visited {color: #00BB00;}
#calendar_year {display: none;line-height: 130%;background: #FFFFFF;position: absolute;z-index: 10;}
#calendar_year .col {float: left;background: #FFFFFF;margin-left: 1px;border: 1px solid #86B9D6;padding: 4px;}
#calendar_month {display: none;background: #FFFFFF;line-height: 130%;border: 1px solid #86B9D6;padding: 4px;position: absolute;z-index: 11;}
.tableborder {background: #F4F7DE;border: 1px solid #86B9D6;}
#year,#month{padding-right:10px;}
/*calendar css*/

.MenuItem
{
    background-color: #EAF4FF;
    color: #FFA000;
    font-family: Candara;
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    border: solid;
    border-color: #FFA000;
    border-width: 0px;
    padding: 3px 2px 0px 2px;
    height: 25px;
    display: block;
}

.DynamicMenuItem
{
	background-color:#FFFFFF;
	color:#FFA000;
	font-family:Candara;
	font-size:10pt;
	font-weight:bold;
	text-align:left;
	border:solid;
	border-color:#FFA000;
	border-width:1px;
	padding: 3px 2px 0px 2px;	
	height:25px;
	display:block;	
}

.MenuItemSelected
{
    background-color: #90EE90;
    text-align: left;
    border: solid;
    border-color: #FFA000;
    border-width: 0px;
    padding: 3px 2px 0px 2px;
    height: 25px;
}

.MenuItemHover
{
    background-color: #90EE90;
    color: White;
    font-family: Candara;
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    border: solid;
    border-color: #FFFFFF;
    border-width: 0px;
    padding: 3px 2px 0px 2px;
    height: 25px;
}

.PartTitleStyle
{
    background-color: #C1D4E3;
    left: 25px;
    padding: 0px 0px 5px 10px;
    background-image: url(../img/boxHeaderTopLeft.gif);
    background-repeat: no-repeat;
}
.PartTitleStyle table 
{
    background-image:url(../img/boxHeaderTopRight.gif);
    background-repeat: no-repeat;
    background-position: right top;
}
.PartTitleStyle table tr td  
{
    padding:10px 10px 0 10px;
}
.PartTitleStyle table tr td span
{
    font-size: 10px;
    font-weight: bold;
    background-color: #C1D4E3;
    padding-right: -10px;
    color: #003399;
}
.PartStyle
{
    background-color: #F5F5F5;
    border: solid 1px #DDDDDD;
}
.PartZone 
{
    border:none 1px #DDDDDD; 
}
.PartZoneHeader
{
    height:0px;
    display:none; 
}

.disabled{ 
opacity: 1; 
color: red; 
background-color: #FFFFFF;
filter: alpha(opacity=100);  
} 

#mapid { height: 180px; }

   