

/* FROM WebMain.aspx */
#bg {
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

#OnCallTrxDiv {
	display: block;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}


/* 2020 STYLES */
header {
	padding: .5em;
}

header .head-top,
header .head-bottom {
	
}

header .head-top {
	margin-bottom: .5em;
}

header .head-top .logo {
	width: 333px;
	height: auto; /* 48 */
}

header .head-top .powered-by {
	float: right;
	display: block;
	width: 202px;
	height: auto; /* 25 */
}



header .head-bottom {
	color: #006FC0;
	font-weight: bold;
	padding: .25em;
}

header .head-bottom .account-user {
	margin-left: 4em;
}

header .head-bottom .page-title {
	float: right;
	color: #660033;
	font-weight: bold;

	/*outline: 2px dotted red;*/
}

.topnav-controls {
	position: relative;
	background-color: #EAF4FF; 
	width: 100%;
	height: 3em;
}

.RAM-controls {
	/*float: right;*/
	position: absolute;
	top: -2px;
    right: 195px;
	color: #00f;
	font-size: 13px;
	text-decoration: underline;
}

.RAM-controls ul {
	
	list-style: none;
}

.RAM-controls li {
	display: inline;
	padding: 0 .5em;
	border-right: 1px solid #000;
}

.RAM-controls li:last-child {
	border-right: none;
}

.SHL-controls {
	/*float: right;*/
	position: absolute;
    top: -9px;
    right: 37px;
	color: #00f;
	font-size: 13px;
	text-decoration: underline;
}

.SHL-controls ul {
	list-style: none;
}

.SHL-controls li {
	display: inline;
	padding: 0 .5em;
}

.SHL-controls li:last-child {

}

#maindiv {
/*	position: relative;
	width: 100%;
	height: 850px; AUTO
	overflow: auto;*/
}

/* DEFAULTS



/* Responsive Styles */
@media (max-width: 1368px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 992px) {
	
}

@media (max-width: 575.99px) {
	ul.nav.navbar-nav {
		background-color: #fff;
	}
	aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
		right: 20px;
	}
}

/* DUMMY STYLES */
#OnCallTrxDiv {
	outline: 2px dotted blue;
}

.outline-purple {
	outline: 2px dotted purple;
}
.outline-red {
	outline: 2px dotted red;
}
.outline-orange {
	outline: 2px dotted orange;
}

/*
@media (max-width: 1368px) { div { outline: 2px dotted blue; } }
@media (max-width: 1024px) { div { outline: 2px dotted green; } }
@media (max-width: 992px) { div { outline: 2px dotted orange; } }
@media (max-width: 575.99px) { div { outline: 2px dotted red; } }
 */

/* ::::: PREVIOUS STYLES ::::: */

/*
iframe {
    height: 100%;
    height: calc(90vh); 
   // height: -moz-calc(100vh -10px);
   // height: -webkit-calc(100vh -10px);
    border: none;

    width: 100%;
    width: calc(100vw -10px);
   // width: -moz-calc(100vw - 10px);
   // width: -webkit-calc(100vw -10px);
} 
*/
