/* 
previously style-per-rob.css

DUMMY STYLES
@media (max-width: 1368px) { div { outline: 2px dotted blue; } }
@media (max-width: 1024px) { div { outline: 2px dotted green; } }
@media (max-width: 992px) { div { outline: 2px dotted orange; } }
@media (max-width: 575.99px) { div { outline: 2px dotted red; } }
 */

/* ::::: PREVIOUS STYLES ::::: */

/*
iframe {
    height: 100%;
    height: calc(90vh); 
   // height: -moz-calc(100vh -10px);
   // height: -webkit-calc(100vh -10px);
    border: none;

    width: 100%;
    width: calc(100vw -10px);
   // width: -moz-calc(100vw - 10px);
   // width: -webkit-calc(100vw -10px);
} 
*/

/* FROM WebMain.aspx */
#bg {
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

#OnCallTrxDiv {
	display: block;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding: 8px;
	border: 8px solid #E8E9F7;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}


/* PROTOTYPE STYLES */
#left-panel {
	background-color: #b7d4e2; /* light-blue */
}

.open aside.left-panel {
    max-width: 85px;
    width: 85px;
}

/* HEADER styles */
.navbar .navbar-brand img {
	max-width: 190px;
}

nav.navbar,
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	background-color: #b7d4e2;
}

.navbar .navbar-nav li > a {
	padding: 10px 0 0 0;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	padding: 0 0 0 56px;
}

.navbar .navbar-nav li.menu-item-has-children a:before {
	color: #00274e !important; /* Lanterman text blue */
}

nav.navbar,
.navbar .menu-title,
.navbar .navbar-nav li > a,
.navbar .navbar-nav li > a .menu-icon,
#main-menu .navbar-nav li > a .menu-icon,
.navbar .navbar-nav li.menu-item-has-children .sub-menu i,
/* hovers */
.navbar .navbar-nav li > a:hover,
.navbar .navbar-nav li > a:hover .menu-icon,
#main-menu .navbar-nav li > a:hover .menu-icon {
	color: #00274e !important;
}

 {
	color: #999 !important;
}

#menuToggle {
	background-color: #fdc54e; /* Lanterman yellow */
	color: #000 !important;
	font-size: 1.9em !important;
}

.open .menutoggle i:before {
	content: "\f138" !important;
}

#home a.home { font-weight: bold; }
#client a.client { font-weight: bold; }
#formlist a.formlist { font-weight: bold; }
#reports a.reports { font-weight: bold; }
#search a.search { font-weight: bold; }
#todo a.todo { font-weight: bold; }

#header .count {
	background-color: #fdc54e !important;
	color: #000 !important;
}

.bg-flat-color-1 {
	color: #00274e !important;
}

.bg-flat-color-2 {
	background-color: #fdc54e !important;
}

a:hover.bg-flat-color-2 {
	background-color: #f8f9fa !important;
}

/* CONTENT body styles */

h1 {
	text-transform: uppercase;
}

.navbar .navbar-nav li .fa-square:before {
	content: none !important;
}

#formlist .help-block {
	font-size: 14px;
}

/*.navbar .navbar-nav li.menu-item-no-children.show a:before,
.navbar .navbar-nav li.menu-item-nas-children .fa-caret-right:before,
.navbar .navbar-nav li.menu-item-no-children .fa-caret-right:before {
	content: none !important;
}*/

/* Responsive Styles */
@media (max-width: 1368px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 992px) {
	
}

@media (max-width: 575.99px) {
	ul.nav.navbar-nav {
		background-color: #fff;
	}
	aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
		right: 20px;
	}
}
